body {
      min-height: 2000px;
      padding-top: 110px;
    }

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding-top: 1em;
	background-color: rgba(255,255,255,0.6);
}

.add-padding p{
	padding: 15px;
}